body {
  font-size: 15px;
  line-height: 21px;
  background-color: #000;
  color: #fff;
  width: 100%;
  font-family: 'Spiller','Arial','Helvetica','sans-serif';
  overflow-x: hidden;
}

.across {
  width:1020px;
	padding-top:5px;
	padding-bottom:5px;
  padding: 20px 0px 30px;
  margin: 0px auto;
  color: #fff;
}

.across-header {
  text-align: center;
}

.across-main {
  background-color: #252629e6;
  overflow: hidden;
  padding: 20px 0 30px;
}


.across ul {
	margin: 15px 20px;
  padding: 0px 10px;
	list-style-type: none;
}

.across-footer {
  background-color: #1d1e20;
}

.footer {
  text-align: center;
  border:1px solid #807f7f;
  margin: 0px;
}
.across-footer {
  display: inline-block;
  margin: 0 auto;
}

.sing {
  color: #fff;
  width: 1020px;
  height: 300px;
  margin: 0 auto;
  background-color: #dee0e2;
}

.photos img {
  width: 296px;
}

.icon {
  display: inline;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.time{
  padding-left: 20px;
  background-image: url(images/data.png) no-repeat left center;
}


.across-main-footer-buttons p{
  margin: 0; 
  /* padding: 0; */
  padding: 4px 10px; 
}

.time {
  line-height: 20px;
}

.metion {
  color: #000;
}

.message {
  width: 400px;
  padding:30px;
}

.logo {
  position: relative;
  color: #b7b8bd;
  float: right;
  margin: 0px;
}

.logo img {
  width: 590px;
}

.metion h2{
  color: #000;
}

.metion p {
  color: #000;
}

a h2 {
  margin: 1px 0px 15px 0px;
}

.across-main-data p {
  margin: 0px;
}

a .across-main-footer-buttons :hover {
  background-color: #a4a4a499;
  border: 1px solid #fff;
}

a .across-main-footer-buttons :hover~.across-main-title {
  text-decoration: underline; 
}

.photos img:hover {
  filter: brightness(80%);
  transition: filter 0.3s;
}

.across-main-title:hover {
  text-decoration: underline;
}

.across-main-footer-buttons :hover {
  background-color: #484a4f;
  border-color: #fff;
}

.across-main-content {
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 300px;
  box-sizing: border-box;
  border-bottom: solid #505354;
}

li {
  padding: 0px 10px;
  margin-bottom: 32px;
}

.across-main-data {
  display: flex;
  flex-wrap: wrap;
}

.across-main-data-icon {
  width: 25px;
  height: 20px;
  box-sizing: border-box ;
}

.across-main-data-icon img {
  width: 20;
  height: 20px;
}

span {
  width:fit-content;
  box-sizing: border-box;
}

.across-main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.across-main-data {
  width: fit-content;
  box-sizing: border-box;
  margin-top: 5px;
}

.across-main-footer-buttons {
  width: fit-content;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.across-main-title {
  line-height: 28px;
}

.about {
  height: 180px;
  padding-bottom: 20px;
}

h2 {
  font-weight: normal;
}

.What {
  display: flex;
  flex-wrap: wrap;
  width: 155px;
}

.Explore {
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
  padding: 4px 0px 4px 10px;
}

.jiantou {
  box-sizing: border-box;
  width: fit-content;
  margin: 0 auto;
  padding: 4px 10px 4px 0px;
}

.What-on {
  margin: 0px 411px 0px 411px;
}

.What {
  background-color: #252629e6;
  border:1px solid #807f7f
}

.What-on :hover {
  background-color: #484a4f;
  border-color: #fff;
}

.sing-up {
  width: 300px;
  color: #000;
  border: none;
  margin: 0px 8px 0px 0px;
  padding: 15px;
  box-sizing: border-box;
  width: 350px;
  height: 50px;
}

.More_info-sing-up{
  background-color: #000;
  color: #fff;
  font-size: medium;
  margin: 0px 10px 14px 0px;
  padding: 0px 15px;
  width: 150px;
  height: 50px;
  left: -5px;
}

.More_info-sing-up:active{
  border: 4px solid #fff;
  border-radius:5px 5px 5px 5px;
  outline:3px solid #000;
}

.You-can{
  color: #505354;
}

.privacy:active{
  border: 4px solid #fff;
  outline:3px solid #000;
}

.privacy{
  text-decoration-line: underline;
}

.e-maile {
  display: flex;
  height: 50px;
}

.logo {
  position: absolute;
  margin-left: 430px;
}

.logo img {
  height: 300px;
}

.main:active{
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom:  2px solid #fff;
}