a {
  text-decoration: none;
  color: #fff;
}

body {
  font-size: 15px;
  line-height: 21px;
  background-color: #000;
  color: #fff;
  width: 100%;
  font-family: 'Spiller','Arial','Helvetica','sans-serif';
  overflow-x: hidden;
}

.across {
  width:1600px;
	padding-top:5px;
	padding-bottom:5px;
  padding: 20px 0px 30px;
  color: #fff;
  width: 1600px;
  margin:center;
}

.across-header {
  text-align: center;
}

.across-main-content {
  background-color: #242529;
  color: #fff;
  
}

.across-main-title:hover {
  text-decoration: underline; 
}

ul {
	margin: 50px;
	list-style-type: none;
  padding: 0px 60px 0px 60px;
  color: #fff;
}

a img:hover {
  filter: brightness(80%);
  transition: filter 0.3s;
}

div.across-main-title:hover {
  text-decoration: ;
}

p,h2 {
  color: #fff;
}

.data {
  display: flex;
}

.footer {
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  margin: 0px;
  padding: 3px 10px 3px 10px;
  background-color: #1d1e20;
}

li {
  display: inline;
  border-bottom: #242529;
  /* margin: 10px; */
}

.sing {
  padding: 20px 0px 30px;
  color: #fff;
  /* width: 1600px; */
  margin:  auto;
}

.logo {
  float: right;
  height: auto;
}

.title {
  height: 68px;
  line-height: normal;
  padding-left:200px ;
  background: url(images/stub.png);
}

.top {
  display: table-row;
}

.Japna {
  display: table-row;
}

.Tropical {
  display: table-cell;
}

.Fragile {
  display: table-cell;
}

.end {
  display: table-row;
}

.NAOMI {
  display: table-cell;
}

.Energy {
  display: table-cell;
}

.Thomas {
  display: table-cell;
}
